*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#lezioni {
  margin-bottom: 40px;
}

h1{
  margin: 40px auto;

}

.col-lg-12 .first, .col-lg-12 .second, .col-lg-12 .third {
  margin-bottom: 40px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cerchio {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

img {
  height: 200px;
}

@media all and (min-width: 769px) and (max-width: 992px) {
  .lightgrey {
    background-color: lightgrey;
  }

  .accaerreno {
    display: none;
  }

  h3 {
    margin:10px auto;
  }


}


@media all and (max-width: 768px){

  img{
    height: 100px;
  }

  .cerchio {
    border-radius: 10px;
    padding: 10px;
  }

}





/* .row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
} */

/* BLOCCO LEZIONI */
/* #lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
} */


/* #lezioni {
  text-align: center;
} */

/* BLOCCO STEPS */
/* #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
} */

/* #steps {
  text-align: center;
} */

/* BLOCCO PERCHE */
/* #why {
  text-align: center;
} */

/* #why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
} */



/* COMMON */
/* .row::after {
  content: '';
  display: table;
  clear: both;
} */

/* .container.grey {
  background-color: #f9f9f9;
} */



/* .clear {
  clear: both;
} */
