*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#lezioni {
  margin-bottom: 40px;
}

h1{
  margin: 40px auto;

}

.col-lg-12 .first, .col-lg-12 .second, .col-lg-12 .third {
  margin-bottom: 40px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cerchio {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

img {
  height: 200px;
}

@media all and (min-width: 769px) and (max-width: 992px) {
  .lightgrey {
    background-color: lightgrey;
  }

  .accaerreno {
    display: none;
  }

  h3 {
    margin:10px auto;
  }


}


@media all and (max-width: 768px){

  img{
    height: 50px;
  }

  .cerchio {
    border-radius: 10px;
    padding: 10px;
  }

  h3 {
    margin:10px auto;
  }

  span {
    margin-bottom: 20px;
  }

  h1 {
    background-color: #000035;
    color: white;
  }

}
